body {
    margin: 0;
}
.reflection {
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    
}
section {
    padding-left: 25%;
    padding-right: 25%;

}
  
  .header {
    background-color: #343434;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    margin-bottom: 100px;
  }
  
  .dev-flow {
    font-size: 24px;
    font-weight: bold;
  }
  
  .frame-wrapper {
    display: flex;
  }
  
  .text-wrapper-10,
  .text-wrapper-11 {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .text-wrapper-9 {
    color: #b59cce;
  }
  
  .reflection {
    padding: 20px;
  }
  
  h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  section {
    margin-bottom: 50px;
  }
  
  h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  p {
  
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
    line-height: 2.5rem;
  }
  
  img {
    max-height: 600px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
  }
  